<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		My name is <a target= "_blank" href="https://github.com/kenortiz">Kenneth Ortiz</a> and I am a full-stack web development student at <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a>. The first web application students build is a database-powered quotes generator. Since I am a fan of the game Destiny, I thought it would be fun to have my app generate quotes of the game. I hope you enjoy!
	</p>
	<br />
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com">here</a>.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'me.jpeg', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Kenneth Ortiz</h2>
		<br />
		<p>
			Kenneth Ortiz is a student at <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a>, where he is studying full-stack web development. Kenneth graduated in 2014, with a Masters of Science in Instructional Technology. During his graduate studies, he was first introduced to programming languages and ever since then he has become more eager to learn how to code.
		</p>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />